.footer-heading {
  margin: 0 30%;
  text-align: center;
  font-size: 48px;
  font-weight: 820;
  letter-spacing: -0.02em;
  line-height: 1.05;
  color: rgb(233, 192, 233);
}

.footer-item {
  font-size: 14px;
  color: rgb(103, 107, 95);
  cursor: pointer;
}

.store-button {
  width: 150px;
  height: 64px;
  background-color: white;
  padding: 30px 20px;
  filter: invert(1);
  border-radius: 80px;
}