.navbar-container {
  width: 100vw;
  padding: 48px 164px;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;

  .navbar-content {
    width: 100%;
    padding: 14px 12px 14px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: white
  }

  button {
    color: rgb(103, 107, 95);
    font-weight: 400;
    font-size: 15px;
  }

  .action-button {
    height: 62px;
    padding: 16px 26px 20px;
  }

  .log-in {
    color: rgb(30, 35, 48);
    background-color: rgb(239, 240, 236);
  }

  .sign-up {
    border-radius: 100px;
    color: white;
    background-color: rgb(30, 35, 48);
  }
}